body{
   font-size:18px;	
   font-weight:300, 400, 700;
   font-family: [Public Sans](https://fonts.google.com/specimen/Public+Sans);
}
._header{
   height: 50px;
  background: white;
}
.logo{
margin-left: 120px;
margin-top: 16px;
margin-bottom: 16px;
}
.links, li {
	list-style: none;
	display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color:hsl(220deg, 2%, 62%);
}
link li a{
	text-decoration: none;
	color: hsl(220deg, 2%, 62%);
}
/*.link,li a:hover{
	text-decoration: underline;
	background-color: lightgreen;
}*/
.link-box{
	margin-left: 450px;
	margin-top: -48px;
}
._btn{
	float: right;
	margin-top: -20px;
	margin-right: 180px;
	border-radius: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 16px;
	padding-left: 16px;
   background-color: hsl(159deg, 61%, 48%);
   color: white;
   border: hsl(159deg, 61%, 48%);
}
.banner{
	background: hsl(0, 0%, 98%);
}